body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* img{
  height: 75vh;
  width: 90vh;
  object-fit: contain;
} */